.tabs {
    text-align: center;
    max-width: 40%;
    max-height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;

}
input[type="radio"] {
    display: none;
}
/* .tabsBtn {
    display: none;
} */
label {
    padding: 3%;
    border: 0.8px black solid;
    cursor: pointer;
    border-radius: 20%;
}
label:active {
    background-color: black;
}
a:active {
    color: red;
}
.tabsNav{
    margin-right: 1rem;
}
/* input[type="radio"]:checked + label {
    background-color: red;
} */


/* .tabs>input[type="radio"]:checked+label {
    background-color: #bdbdbd;
}
.tabs>div { */
    /* скрыть контент по умолчанию */
    /* display: none;
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px; */
/* } */

/* .tabs__btn_1:checked~.tabs__content__all,
.tabs__btn_2:checked~.tabs__content__active,
.tabs__btn_3:checked~.tabs__content__deleted {
  display: block;
} */
.tabsСontentAll {
    margin-top: 5%;
    background-color: bisque;
}

.tabsContentActive {
    background-color: bisque;
    margin-top: 5%;
}
.tabsContentDeleted{
    background-color: bisque;
    margin-top: 5%;
}
