.buttonSend {
    font-weight: 600;
    font-size: 14px;
    margin-left: 2%;
    width: 7%;
    height: 3rem;
    border-radius: 20px;
    border: #c5d7d9;
    box-shadow: 0 3px 0 rgba(154, 147, 140, 0.5);
}
.buttonSend:hover {
    transition: 0.1s;
    background-color: #7dbbb9;
    border: 2px solid #2a5d68;
}
.buttonSend:active {
    color: #ffffff;
    border: 2px solid #2a5d68;
    background-color: #b8b1dd;
}

.modalOpen {
    display: block;
}
.modalUseReturn {
    display: none;
}